<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   
   <context:property-placeholder location="classpath:sport.properties"/>
   
   
   
   <bean id = "helloWorld" class = "helloworld.HelloWorld">
      <property name = "message" value = "Hello World!"/>
   </bean>
   
   <bean id="myCoach" class="injection.BaseBallCoach">
   <constructor-arg ref="fortuneService"></constructor-arg>
   </bean>
   
   <bean id="fortuneService" class="injection.HappyFortuneService"></bean>
   
   <bean id="myTrackCoach" class="injection.TrackCoach">
   </bean>
   
    <bean id="cricketCoach" class="injection.CricketCoach">
   		<property name="fortuneService" ref="fortuneService"></property>
   		<property name="emailAddress" value="${cricket.email}"></property>
   		<property name="team" value="${cricket.team}"></property>
   </bean>

</beans>